.homepage {
    height: 90vh;
    background-color: whitesmoke;
    position: relative;
}

.homepage__img__container {
    height: 80%;
    max-height: 300px;
    position: relative;
    overflow: hidden;
}

.homepage__img__header {
    max-width: 500px;
    max-height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    
}
.homepage__title {
    color: red;
    text-align: center;
    margin: 0.2em;
}
.homepage__subtitle {
    color: gray;
    text-align: center;
    margin-bottom: 1.5em;
}
.homepage__form {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}
.homepage__input {
    max-height: 50px;
    border: none;
}
.homepage__button {
    border: none;
    max-height: 50px;
    background-color: red;
    color: whitesmoke;
} 
.homepage__img__footer {

}